@using ProbnikNeSmotret.Models
@model ProbnikNeSmotret.Models.PersonalArea

@{
    ViewBag.Title = "AddCourseToArea";
}
<style>
    .div-1 {
        background-color: forestgreen;
    }

    .div-2 {
        background-color: orangered;
    }
</style>
<div class="hero-image-area">
    <div class="hero-text">
        <h1 style="font-size:50px">Личный кабинет</h1>
    </div>
</div>

@if (ViewBag.teacher)
{
    <dt>
        <h3>Ваш email</h3>
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Person)
    </dd>
    <p></p>
    <p>Приветствуем вас! Чтобы у Вас была возможность записать на курс, заведите не преподавательскую учетную запись. Просим прощение за неудобства!</p>
}
else
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <h3>Ваш email</h3>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person)
            </dd>
            <dt>
                <h3>Курсы</h3>
            </dt>

            <dd>
                @foreach (var course in Model.Courses)
                {
                    <h4>@course.Name</h4>
                    <p></p>
                    @Html.RouteLink("Продолжить обучение",
                          new { controller = "Home", action = "StudyOnCourse", courseId = course.Id }, new { @class = "btn btn-secondary" })
                    @Html.RouteLink("Отписаться от курса",
                          new { controller = "Home", action = "DeleteCourseFromPersonalArea", courseId = course.Id }, new { @class = "btn btn-secondary" })
                    <p></p>
                    var paragraphs = ((CoursesInAreaModel)ViewBag.coursesModel).courses.Where(c => c.Key == course.Id).First();
                    var numGreen = ((List<KeyValuePair<int, int>>)ViewBag.RedGreen).Where(c => c.Key == course.Id).First().Value;
                    var i = 0;
                    <div class="justify-content-around" style="display: flex; flex-wrap: wrap">
                        @foreach (var paragraph in paragraphs.Value)
                        {
                            if (i < numGreen)
                            {
                                i++;
                                <div class="div-1">
                                    <div class="col-md-auto">

                                        <div class="card my-1 border-0" style="width: 14rem;">
                                            <img width="220" height="220" src="@Url.Content("~/Images/")@paragraph.UrlImg" alt="Обложка" />
                                            <div class="card-body">
                                                <h5 class="card-title">@paragraph.Name</h5>
                                                @Html.RouteLink("Посмотреть",
new { controller = "Home", action = "WatchParagraph", paragraphId = paragraph.ParagraphId }, new { @class = "btn btn-secondary" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="div-2">
                                    <div class="col-md-auto">

                                        <div class="card my-1 border-0" style="width: 14rem;">
                                            <img width="220" height="220" src="@Url.Content("~/Images/")@paragraph.UrlImg" alt="Обложка" />
                                            <div class="card-body">
                                                <h5 class="card-title">@paragraph.Name</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </dd>

        </dl>
    </div>
}
    <p>
        @Html.ActionLink("Вернуться в каталог", "Index")
    </p>
