@model ProbnikNeSmotret.Models.TopCourses

@{
    ViewBag.Title = "GetTopCourses";
}

<h2>Самые популярные курсы</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div class="justify-content-around" style="display: flex; flex-wrap: wrap">
    @foreach (var t in Model.Course)
    {
        <div class="col-md-auto">
            <div class="card my-1 border-0" style="width: 14rem;">
                @*<div class="card-header">
                        @Html.RouteLink("Отзывы: " + @t.ReviewNumber,
                            new
                            {
                                controller = "Home", action = "ViewBookReviews",
                                bookId = t.TheCourse.Id
                            }, new {@class = "btn btn-light btn-sm"})
                    </div>*@
                <img width="250" height="250" src="@Url.Content("~/Images/")@t.Key.ImageUrl" alt="Обложка" />
                <div class="card-body">
                    <h5 class="card-title">@t.Key.Price p.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@t.Key.Name</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@t.Key.ShortDescription</h6>
                    <p class="card-text">@t.Value </p>
                    @Html.RouteLink("Записаться на курс",
                        new {controller = "Home", action = "AddCourseToArea", courseId = t.Key.Id}, new {@class = "btn btn-secondary"})
                </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Вернуться к каталогу", "Index")
</p>
