@using ProbnikNeSmotret.Models;
@model ProbnikNeSmotret.Models.StudyViewModel

@{
    ViewBag.Title = "StudyOnCourse";
}

<style>
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 10px 10px 10px 0; /* Отступы вокруг картинки */
    }
    .fig {
        text-align: center; /* Выравнивание по центру */
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div>
            <h2 class="fig">@Html.DisplayFor(Model => Model.Paragraph.Name)</h2>


            <h3 class="fig">@Html.DisplayFor(Model => Model.Paragraph.Description)</h3>


            <p align ="justify"><img src="@Url.Content("~/Images/")@Model.Paragraph.ImgUrl" alt="img" width="250" height="250" class="leftimg">
            @Html.DisplayFor(Model => Model.Paragraph.Text)</p>
        </div>
        @foreach (var test in Model.Tests)
        {
            @*@Html.RouteLink("Пройти тест",
               new { controller = "Home", action = "CheckTest", answer = new AnswerViewModel() { TestId = test.Id, NumInTest = 0, IsTheEnd = false, TestPoints = test.Points} }, new { @class = "btn btn-secondary" })
            }*@
            @Html.RouteLink("Пройти тест",
          new { controller = "Home", action = "CheckTest", testId = test.Id, number = 0, isTheEnd = false, testPoints = test.Points, allPoints = 0, text = "", answers = new Dictionary<int,string>()}, new { @class = "btn btn-secondary" })
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться в личный кабинет", "ShowArea")
</p>
