@model ProbnikNeSmotret.Models.Paragraph

@{
    ViewBag.Title = "WatchParagraph";
}

<div>
    <div>
        <h2>@Html.DisplayFor(Model => Model.Name)</h2>
        <p></p>
        <img src="@Url.Content("~/Images/")@Model.ImgUrl" class="smallImg card-img-top" alt="Обложка" />
        <p></p>
        <h3>@Html.DisplayFor(Model => Model.Description)</h3>
        <p></p>
        <p></p>
        <h5>@Html.DisplayFor(Model => Model.Text)</h5>
    </div>
</div>
<p>
    @Html.ActionLink("Вернуться в личный кабинет", "ShowArea")
</p>
